body {
    font-family: Arial, sans-serif;
    background: rgb(116,132,148);
background: linear-gradient(90deg, rgba(116,132,148,1) 0%, rgba(141,235,189,1) 40%, rgba(143,236,191,1) 60%, rgba(116,132,148,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h2 {
    color: black;
}



table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    
}

thead {
    background-color: #F4E7AB
    ;
}

img.img-principal {
    width: 120px;
    height: auto;
    margin-bottom: 20px; 
}

.enlace-clickk {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px;
}

.img-click {
    width: 80px; 
    height: auto;
    margin-left: 1050px; 
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



#toggle {
    display: none;
}

#menu {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

#menu a:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    #menu {
        position: relative;
    }

    #toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
        padding: 14px 16px;
    }

    #menu ul {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #333;
    }

    #menu ul li {
        width: 100%;
        text-align: center;
    }

    #menu ul li a {
        padding: 14px 16px;
    }

    #menu.active ul {
        display: block;
    }
}

.contact-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 22px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 5px;
    border-radius: 36px;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  button svg {
    fill: rgb(255, 110, 110);
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover svg {
    transform: scale(105%);
    border-color: #ffd8d8;
    animation: beatingHeart 1.2s infinite;
  }
  