body {
    font-family: Arial, sans-serif;
    background: rgb(50,90,146);
background: linear-gradient(90deg, rgba(50,90,146,1) 0%, rgba(244,231,171,1) 50%, rgba(22,157,212,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h2 {
    color: black;
}



table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    
}

thead {
    background-color: #F4E7AB
    ;
}

img.img-principal {
    width: 120px;
    height: auto;
    margin-bottom: 20px; 
}

.enlace-clickk {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px;
}

.img-click {
    width: 80px; 
    height: auto;
    margin-left: 1050px; 
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



#toggle {
    display: none;
}

#menu {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

#menu a:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    #menu {
        position: relative;
    }

    #toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        cursor: pointer;
        padding: 14px 16px;
    }

    #menu ul {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #333;
    }

    #menu ul li {
        width: 100%;
        text-align: center;
    }

    #menu ul li a {
        padding: 14px 16px;
    }

    #menu.active ul {
        display: block;
    }
}

.contact-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}