body {
    font-family: Arial, sans-serif;
    background: rgb(50,90,146);
    background: linear-gradient(90deg, rgba(50,90,146,1) 0%, rgba(244,231,171,1) 50%, rgba(22,157,212,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img.img-principal{
    
    width: 120px;
    height: auto;
    margin-bottom: 6 0px;
     
}

form {
    width: 80%; 
    max-width: 400px; 
    
}

label {
    display: block;
    margin-bottom: 8px; 
    border-radius: 10px;
    position: relative;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px; 
    border-right: 12px;
    border: 1px solid #ccc;
    border-radius: 19px;
}

   

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; 
    color: black; 
    background-color: #EEF7FA; 
    appearance: none; 
    cursor: pointer;
    border-radius: 15px;
}

select:focus {
    outline: none; 
    border-color: #2ecc71; 
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}

.formx{

    background: rgb(88,153,245);
    background: linear-gradient(90deg, rgba(88,153,245,1) 0%, rgba(180,233,255,1) 52%);
      padding: 20px;
    border-radius: 10px; 
    width: 70%;
    max-width: 300px; 
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5); 

}
img.img-principal{
    width: 120px;
    height: auto;
    margin: auto;
    display: flex; 
    flex-direction: column; 
    align-items: center;
 
}




.button {
    background-color: #000;
    border: 0px;
    outline: 0px;
    color: #fff;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .liquid {
    background-color: #2893eb;
    width: 200px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: inset 5px -5px 25px #104e81,
    inset -5px 0px 25px #104e81;
  }
  
  .liquid::after {
    content: '';
    width: 450px;
    height: 400px;
    background: #000;
    z-index: 1;
    position: absolute;
    left: -110px;
    top: -380px;
    border-radius: 45%;
    animation: animate 5s linear 2s infinite;
  }
  
  .liquid::before {
    content: '';
    width: 450px;
    height: 400px;
    background-color: rgb(68, 160, 235);
    z-index: 1;
    position: absolute;
    left: -110px;
    top: -380px;
    border-radius: 40%;
    animation: animate 5s linear 1.8s infinite;
  }
  
  .btn-txt {
    position: relative;
    z-index: 1;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 2px;
  }
  
  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }


  .container {
    max-width: 350px;
    background: #F8F9FD;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
  }

  .enlace-clickk {
    display: flex;
    justify-content: flex-start; 
    margin-top: 00px;
}

.img-click {
    width: 40px; 
    height: auto;
     
    align-items: center;
}